#btn_openall{
    width: 100px;
    height: 28px;
    border: 1px solid #38f;
    border-bottom: 1px solid #2e7ae5;
    background-color: #38f;
    cursor:pointer;
    position: absolute;
    right: 120px;
    top: 40px;
}
